
#
#   MM   MM   OOO   NN   N  ZZZZZ   OOO    OOO   L        NN   N  EEEE  TTTTT
#   M M M M  O   O  N N  N     Z   O   O  O   O  L        N N  N  E       T
#   M  M  M  O   O  N  N N    Z    O   O  O   O  L        N  N N  EEE     T
#   M     M  O   O  N   NN   Z     O   O  O   O  L        N   NN  E       T
#   M     M   OOO   N    N  ZZZZZ   OOO    OOO   LLLL  o  N    N  EEEE    T
#


<Files .htaccess>
order allow,deny
deny from all
</Files>

<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

# Protect wp-config.php
<files wp-config.php>
order allow,deny
deny from all
</files>
